################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleCalculator.API/.vs/*
/SampleCalculator.API/bin/*
/SampleCalculator.API/obj
/SampleCalculator.Test/bin/*
/SampleCalculator.Test/obj/*
